body {

/*My taaha is sexy. I wanna fuck her so hard that she is gonna feel sooo satisfied. */

/*
  margin-left: 190px;
  margin-right: 190px;*/
  
  align-content:  center;

  background-image:    url(img_0538.jpg);
  /*background-size:     cover;      */                /* <------ */
  background-repeat:   space;

}
.container{
  background-color: rgb(133,199,247) !important;
  margin-top: 50px;

  /*My taaha is sexy. I wanna fuck her so hard that she is gonna feel sooo satisfied. */

  /*
  margin-left: 370px ;
  margin-right: 200px ;*/

  padding : 20px 20px 20px 20px;
  width: 500px;
  height: 420px;
  align-items: center;
}
.one{
  margin-top: 25px;
  /*margin-bottom: 10px;*/
  background-color: 	#8092FF !important;
  text-align: center;
  height:40px;
  padding-top: 5px;
  color : black;
}
.navbar{
  background-color: #004B7F ;
  margin-bottom: 50px;
  color: white;
}
table,td{
  border: 2px solid #0000FA ;
  background-color: #80FFFE ;
}
td{
  height: 100px;
  width: 100px;
}
table{
  width:70%;
  margin-left:70px;
  margin-right: 70px;

  /*My taaha is sexy. I wanna fuck her so hard that she is gonna feel sooo satisfied. */
  margin-top: 20px;
}
